OWNER_NAME="💀MASTER MIND💀"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "MASTER-MD"
IMAGE_MENU= "https://telegra.ph/file/74b612f51b7a5750191af.jpg"
NUMERO_OWNER= ""
OWNER_NAME= "Sahan Maduwantha"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
